.button {
  &--pag {
    line-height: 21px;
    color: #fff;

    &-prev,
    &-next {
      opacity: 0.5;

      @media screen and (max-width: 480px) {
        display: none;
      }
    }

    &:hover {
      color: #f7bd6b;
      opacity: 1;
    }

    &-disabled {
      opacity: 0.3;

      &:hover {
        color: #f7bd6b;
        opacity: 0.3;
      }
    }

    &-arrow {
      display: none;

      @media screen and (max-width: 480px) {
        display: block;

        &.button--pag-prev {
          transform: rotateZ(90deg);
        }
        &.button--pag-next {
          transform: rotateZ(-90deg);
        }
      }
    }
  }
}
