@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    font-size: 14px;
    color: #fff;
    transition: 0.5s;
}

html{
    height: 100%;
}

body{
    height: 100%;
    min-width: 320px;
    background: #10161B;

    @media screen and (max-width: 320px){
        overflow-x: auto;
    }
}

#root{
    display: flex;
    flex-direction: column;
    height: 100%;

    &.menu-open{
        overflow: hidden;
    }

    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 14px;
    }
      
      &::-webkit-scrollbar-track {
        background: #2D2D2D;
        width: 4px;
        border-radius: 14px;
      }
      
      &::-webkit-scrollbar-thumb {
        background: #15212E;
        width: 4px;
        border-radius: 14px;
      }
}

input[type="date"]{
    padding-right: 8px !important;
    &::-webkit-datetime-edit{
        color: transparent;
    }

    &.input--date{
        &::-webkit-datetime-edit{
            color: #10161B;
        }
       
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../img/icons/uiw_date.svg") no-repeat;
    width: 16px;
    height: 16px;
    border-width: thin;

}