.not-found{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &::after{
        right: 32px;
        top: 32px;
        z-index: -1;
        position: absolute;
        content: url("../../../img/Group528.png");
    }

    &::before{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        content: url("../../../img/Group527.png");
    }

    &__content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__error{
        background: linear-gradient(108.56deg, #10161B 9.65%, #15212E 87.76%);
        font-size: 200px;
        line-height: 300px;
        -webkit-background-clip: text;
        color: transparent;
    }

    &__sub-title{
        font-size: 20px;
        line-height: 30px;
        margin-top: -30px;
        margin-bottom: 16px;
    }

    &__text{
        color: #FFFFFF;
        opacity: 0.5;
        text-align: center;

    }

    .button{
        margin-top: 40px;
    }

    @media screen and (max-width: 768px){
        &__error{
            font-size: 170px;
        }

        &__sub-title{
            margin-top: -60px;
        }

        &::before{
            width: 200px;
            height: 350px;
        }
    }

    @media screen and (max-width: 480px){
        &__content{
            width: 90%;
        }

        &__error{
            font-size: 145px;
            line-height: 145px;
        }

        &__sub-title{
            margin-top: -8px;
            font-size: 18px;
        }

        &::before{
            left: -35px;
            bottom: -40px;
        }


        &::after{
            right: 82px;
            top: 0;
            width: 100px;
            height: 100px;
            transform: scale(0.7);
        }
    }

    @media screen and (max-width: 320px){
        &::before{
            bottom: -85px;
        }
    }
}