@import "tailwindcss";

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply text-white transition-all duration-500 h-full min-w-[320px] bg-primary;
  }
}

@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

@theme {
  --color-foreaground: #fff;
  --color-foreaground2: #181818;
  --color-foreaground3: #15212e;
  --color-foreaground4: #1a3865;
  --color-foreaground5: #1e3043;
  --font-poppins: Poppins;
  --color-primary: #10161b;
  --color-primary-light: #111a24;
  --color-primary-dark: #2c3743;
  --color-primary-base: #1b2b3d;
  --color-primary2: #2255a4;
  --color-secondary: #f7bd6b;
  --color-error: #e20000;
  --color-error-dark: #720202;
  --color-info: #2253a0;
  --color-info-light: #a8caff;
  --color-success: #08d51c;
  --color-purple: #b83a9c;
  --color-purple-light: #ffb1ee;
  --shadow-link: 0 19px 13px 4px rgba(0, 0, 0, 46%);
}
