.main{
   padding: 16px;
   width: 100%;
   flex: 1 0 auto;

   &--not-found{
      padding: 0;
   }

   @media screen and (max-width: 768px){
      padding: 8px;
      margin-bottom: 48px;

      &--not-found{
         margin-bottom: 0;
         padding-bottom: 0;
      }

   }
}